@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>


<div class="text-center text-black">
    <h1 class="display-1">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <img src="~/css/download 2.jpeg" width="360px" />
</div>