@{
    ViewData["Title"] = "FAQ";
}

<head>
    <link rel="stylesheet" href="~/css/giphy.gif" />
</head>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class="text-center text-black">
    <h1 class="display-4">FAQ Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body class="text-center">
    <section class="faq-section">

        <div class="faq">

            <div class="faq-item">
                <button class="faq-question">
                    How do I book a badminton court using your system?
                    <span class="icon">+</span>
                </button>
                <div class="faq-answer">
                    <p>
                        Search for your preferred location or facility.
                        Select the date and time slot you want.
                        You’ll receive a confirmation email with all the details once your booking is successful.
                        <img src="~/css/right.jpeg" width="90px" />
                    </p>
                </div>
            </div>



            <div class="faq-item">
                <button class="faq-question">
                    Can I cancel or reschedule my booking?
                    <span class="icon">+</span>
                </button>
                <div class="faq-answer">
                    <p>
                        
                        Select the booking you want to modify.
                        Choose either "Cancel" or "Reschedule" and follow the prompts.
                        Please note that cancellation and rescheduling policies may vary depending on the facility. Be sure to check the terms before proceeding.
                        <img src="~/css/right.jpeg" width="90px" />
                    </p>
                </div>
            </div>


            <div class="faq-item">
                <button class="faq-question">
                    What payment methods do you accept?
                    <span class="icon">+</span>
                </button>
                <div class="faq-answer">
                    <p>
                        We accept a variety of secure payment options, including credit/debit cards, digital wallets and other popular online payment methods.
                        All transactions are encrypted to ensure your data is safe and protected.
                        <img src="~/css/right.jpeg" width="90px" class="text-center" />
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

