@{
    ViewData["Title"] = "About Us";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<div class="text-center text-black">
    <h1 class="display-4">About Us</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="bg-success border-5">
        Welcome to the Badminton Booking System!

        Your go-to platform for effortless badminton court reservations. We know how challenging it can be to find and book courts, which is why we’ve created a seamless, reliable solution for all badminton enthusiasts.

        Whether you're a casual player, a competitive athlete, or a coach, our system makes it easy to find, book, and manage courts at your preferred locations—anytime, anywhere, with just a few clicks.

        At Badminton Booking System, we’re more than just a booking platform—we’re a community. Connect with fellow players, organize matches, and stay updated on local badminton events.

        Join us in transforming the way badminton is played and enjoyed. Whether you’re booking a quick game or planning a tournament, we’ve got you covered.

        Let’s make every match count!

        Thank you for choosing Badminton Booking System—together, we’re shaping the future of badminton!


    </div>
</div>

<div class="text-center">
    <img src="~/css/badminton 1.jpeg" width="500px" />
</div>