@model BadmintonBookingSystemAPI.Models.Customer

<h2>Delete Customer</h2>

<h3>Are you sure you want to delete this customer?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Model.CustName
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Model.DOB.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CustID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>